@use 'sass:math';
@import 'tailwind';
@import 'base';
@import 'fonts';
@import 'global';
@import 'helpers';
@import 'components';

.swiper-pagination-total {
	font-size: 0.18rem;
	font-weight: 600;
}

.bg-blur {
	position: relative;
	div {
		position: relative;
		z-index: 5;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(gem(5));
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
		transform: translate(0) translate3d(0, 0, 0) translateZ(0);
	}
}
.box-shadow {
	box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.1);
}
.ukr-businesses {
	background: url('@img/main-frame_bg.png') center center/cover no-repeat;
}
.transit-filter {
	transition: filter 0.35s linear;
}
